@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Error_404_Container {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.Error_404 {
  font-size: 90px;
}

img {
  width: 480px;
}

.Error_Text {
  font-family: "Poppins", sans-serif;
}

.Error_Text h2 {
  font-weight: 600;
  font-size: 30px;
}

.Error_Text p {
  font-size: 15px;
  font-weight: 300;
  margin-top: 10px;
}

.button_Error_404 {
  background: #493829;
  width: 200px;
  height: 40px;
  margin: 25px;
  border-radius: 20px;
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.button_Error_404:hover {
  background: #CC8C18;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .Error_404 {
    font-size: 70px;
  }
  
  img {
    width: 380px;
  }
  
  .Error_Text h2 {
    font-size: 25px;
  }
  
  .Error_Text p {
    font-size: 14px;
  }
  
  .button_Error_404 {
    width: 180px;
    height: 38px;
    margin: 20px;
  }
}

@media screen and (max-width: 480px) {
  .Error_404_Container {
    margin-top: 100px;
  }
  
  .Error_404 {
    font-size: 50px;
  }
  
  img {
    width: 280px;
  }
  
  .Error_Text h2 {
    font-size: 20px;
  }
  
  .Error_Text p {
    font-size: 12px;
  }
  
  .button_Error_404 {
    width: 160px;
    height: 35px;
    margin: 15px;
    font-size: 14px;
  }
}
